@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
  --font-body: 'Poppins', sans-serif;
  --font-headline: Arial, Helvetica, sans-serif;
  
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;

  --font-base: 16px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  background-color: #201f28;
  color: white;
  margin: 0;
}

.divider {
  transform: translateY(61px);
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #1b1b1b;
  opacity: 95%;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid greenyellow;
  z-index: 100;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
  font-size: var(--large-font);
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.nav-item a:hover {
  background-color: #555;
  border-bottom: 1px solid greenyellow;
}

#carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#movie-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  transform: translateX(45px);
  gap: 30px;
  height: 444px;
  margin-top: 3em;
}

.movie {
  position: relative;
  width: 100%;
  height: 100%;
}

.movie img {
  object-fit: cover;
  width: 300px;
  height: 444px;
  border: 1px solid transparent;
  border-radius: 10px;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 100%;
  }
}

#prevBtn {
  left: 10px;
  opacity: 75%;
}

#nextBtn {
  right: 10px;
  opacity: 75%;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #a0a0a0;
}

@media screen and (min-width: 500px) {
  #carousel {
    width: 90%;
  }

  .movie img {
    opacity: 80%;
    &:hover {
      opacity: 100%;
    }
  }
}